<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>books</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.book.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>BookServlet</display-name>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>com.book.servlet.book.BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StudentLoginServlet</display-name>
		<servlet-name>StudentLoginServlet</servlet-name>
		<servlet-class>com.book.servlet.user.StudentLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentLoginServlet</servlet-name>
		<url-pattern>/StudentLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StudentRegisterServlet</display-name>
		<servlet-name>StudentRegisterServlet</servlet-name>
		<servlet-class>com.book.servlet.user.StudentRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentRegisterServlet</servlet-name>
		<url-pattern>/StudentRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BorrowServlet</display-name>
		<servlet-name>BorrowServlet</servlet-name>
		<servlet-class>com.book.servlet.borrow.BorrowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowServlet</servlet-name>
		<url-pattern>/BorrowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QueryBorrowByISBNServlet</display-name>
		<servlet-name>QueryBorrowByISBNServlet</servlet-name>
		<servlet-class>com.book.servlet.borrow.QueryBorrowByISBNServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryBorrowByISBNServlet</servlet-name>
		<url-pattern>/QueryBorrowByISBNServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QueryBorrowByIdServlet</display-name>
		<servlet-name>QueryBorrowByIdServlet</servlet-name>
		<servlet-class>com.book.servlet.borrow.QueryBorrowByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryBorrowByIdServlet</servlet-name>
		<url-pattern>/QueryBorrowByIdServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManagerLoginServlet</display-name>
		<servlet-name>ManagerLoginServlet</servlet-name>
		<servlet-class>com.book.servlet.user.ManagerLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerLoginServlet</servlet-name>
		<url-pattern>/ManagerLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManagerRegisterServlet</display-name>
		<servlet-name>ManagerRegisterServlet</servlet-name>
		<servlet-class>com.book.servlet.user.ManagerRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerRegisterServlet</servlet-name>
		<url-pattern>/ManagerRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BorrowBookServlet</display-name>
		<servlet-name>BorrowBookServlet</servlet-name>
		<servlet-class>com.book.servlet.book.BorrowBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowBookServlet</servlet-name>
		<url-pattern>/BorrowBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookSortServlet</display-name>
		<servlet-name>BookSortServlet</servlet-name>
		<servlet-class>com.book.servlet.booksort.BookSortServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookSortServlet</servlet-name>
		<url-pattern>/BookSortServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddBookServlet</display-name>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>com.book.servlet.book.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditBookServlet</display-name>
		<servlet-name>EditBookServlet</servlet-name>
		<servlet-class>com.book.servlet.book.EditBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditBookServlet</servlet-name>
		<url-pattern>/EditBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteBookServlet</display-name>
		<servlet-name>DeleteBookServlet</servlet-name>
		<servlet-class>com.book.servlet.book.DeleteBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBookServlet</servlet-name>
		<url-pattern>/DeleteBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QueryBookByISBNServlet</display-name>
		<servlet-name>QueryBookByISBNServlet</servlet-name>
		<servlet-class>com.book.servlet.book.QueryBookByISBNServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryBookByISBNServlet</servlet-name>
		<url-pattern>/QueryBookByISBNServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QueryBookByNameServlet</display-name>
		<servlet-name>QueryBookByNameServlet</servlet-name>
		<servlet-class>com.book.servlet.book.QueryBookByNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryBookByNameServlet</servlet-name>
		<url-pattern>/QueryBookByNameServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReturnBookServlet</display-name>
		<servlet-name>ReturnBookServlet</servlet-name>
		<servlet-class>com.book.servlet.borrow.ReturnBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReturnBookServlet</servlet-name>
		<url-pattern>/ReturnBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddBookSortServlet</display-name>
		<servlet-name>AddBookSortServlet</servlet-name>
		<servlet-class>com.book.servlet.booksort.AddBookSortServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookSortServlet</servlet-name>
		<url-pattern>/AddBookSortServlet</url-pattern>
	</servlet-mapping>
</web-app>