<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>books</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.book.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>BookServlet</display-name>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>com.book.servlet.book.BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StudentLoginServlet</display-name>
		<servlet-name>StudentLoginServlet</servlet-name>
		<servlet-class>com.book.servlet.user.StudentLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentLoginServlet</servlet-name>
		<url-pattern>/StudentLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StudentRegisterServlet</display-name>
		<servlet-name>StudentRegisterServlet</servlet-name>
		<servlet-class>com.book.servlet.user.StudentRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentRegisterServlet</servlet-name>
		<url-pattern>/StudentRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BorrowServlet</display-name>
		<servlet-name>BorrowServlet</servlet-name>
		<servlet-class>com.book.servlet.borrow.BorrowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowServlet</servlet-name>
		<url-pattern>/BorrowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManagerLoginServlet</display-name>
		<servlet-name>ManagerLoginServlet</servlet-name>
		<servlet-class>com.book.servlet.user.ManagerLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerLoginServlet</servlet-name>
		<url-pattern>/ManagerLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManagerRegisterServlet</display-name>
		<servlet-name>ManagerRegisterServlet</servlet-name>
		<servlet-class>com.book.servlet.user.ManagerRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerRegisterServlet</servlet-name>
		<url-pattern>/ManagerRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateBookServlet</display-name>
		<servlet-name>UpdateBookServlet</servlet-name>
		<servlet-class>com.book.servlet.book.UpdateBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBookServlet</servlet-name>
		<url-pattern>/UpdateBookServlet</url-pattern>
	</servlet-mapping>
</web-app>